Repository ptlc8/tekiens-net: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-front-job, lint-back-job

.gitlab-ci.yml:

# List of stages for jobs, and their order of execution
stages:
  - lint-and-build
  - test
  - publish

# Default image for all jobs
default:
  image: docker:latest
  services:
    - docker:dind

# Job building docker image
build-docker-job:
  stage: lint-and-build
  script:
    - echo "Building docker image..."
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - echo "Docker image built."
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"

# Job linting the front-end code
lint-front-job:
  stage: lint-and-build
  image: node:latest
  script:
    - cd front
    - echo "Linting code..."
    - npm ci
    - npm run lint
    - echo "Lint complete."
  # run this job only when changes are made to front-end code in a merge request
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        paths:
          - "front/**/*"
        compare_to: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

# Job linting the back-end code
lint-back-job:
  stage: lint-and-build
  image: python:latest
  script:
    - cd back
    - echo "Linting code..."
    - pip install ruff
    - ruff check
    - echo "Lint complete."
  # run this job only when changes are made to back-end code in a merge request
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        paths:
          - "back/**/*"
        compare_to: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME

# Job testing the container
test-docker-job:
  stage: test
  image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
  script:
    - echo "Testing docker image..."
    - cd /app/back
    - flask routes
    - echo "Docker image tested."
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  needs:
    - build-docker-job

# Job publishing the container to the registry
publish-docker-job:
  stage: publish
  script:
    - echo "Publishing docker image..."
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker pull $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:latest
    - echo "Docker image published."
  rules: # commit is on default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - build-docker-job

Affiche toujours les assos sans campus dans la page assos
  front/src/views/AssosView.vue
Due: lint-front-job

valeur Cergy comme campus par défaut lors de la création d'une association (déso pas déso les palois)
  back/create_asso.py
Due: lint-back-job

remove useless imports
  back/change_password.py
  back/create_asso.py
Due: lint-back-job

docker container always restarts
  compose.yaml
Due: none

Ajout des réseaux sociaux Youtube et Tiktok
  back/app/api/socials.py
Due: lint-back-job

Fix affichage durée d'un évent
  front/src/views/EventView.vue
Due: lint-front-job

Clean CI
  .gitlab-ci.yml
Due: none

Ajout d'envoi de mails
  README.md
  api.md
  back/app/api/__init__.py
  back/app/api/emails.py
  back/app/api/mail.py
  back/app/api/templates.py
  front/src/api.js
  front/src/main.scss
  front/src/views/TemplateView.vue
  init.sql
  sample.sql
Due: lint-front-job, lint-back-job

Fix redirections avec un reverse proxy HTTPS + Config nginx d'Atilla
  back/app/__init__.py
  nginx-ssl.conf
Due: lint-back-job

Add pagination on events page to limit API requests size + clean unused code in index
  api.md
  back/app/api/events.py
  front/src/api.js
  front/src/views/EventsView.vue
  front/src/views/IndexView.vue
Due: lint-front-job, lint-back-job

Speed up docker rebuild + fix content-type of API response
  Dockerfile
  back/app/api/__init__.py
Due: lint-back-job

npm audit fix + ajout types manquants
  front/package-lock.json
  front/package.json
Due: lint-front-job

Ajout du QR code sur la page d'évent + année de l'évent
  front/src/views/EventView.vue
Due: lint-front-job

Modification readme faq
  README.md
  front/src/views/FaqView.vue
Due: lint-front-job

tuto_WIN_update_README
  README.md
Due: none

Fix README
  README.md
Due: none

maj lien gitlab ATILLA page FAQ
  front/src/views/FaqView.vue
Due: lint-front-job

ajouté un watch et ajouté liens discord et site tekiens
  README.md
  compose.yaml
  front/src/views/FaqView.vue
Due: lint-front-job

ajouté une table campus
  .dockerignore
  README.md
  api.md
  back/app/api/__init__.py
  back/app/api/campus.py
  compose.yaml
  front/src/api.js
  front/src/views/AssoEditView.vue
  init.sql
  sample.sql
Due: lint-front-job, lint-back-job

Ajout de CI pour tester les fichiers SQL + cache docker
  .gitlab-ci.yml
Due: none

Check if auth is needed
  back/app/api/mail.py
Due: lint-back-job

Statut d'évent pluss visible + Un évent reporté ou annulé ne s'affiche plus en cours ou terminé
  front/src/eventStatus.js
  front/src/main.scss
  front/src/views/EventView.vue
Due: lint-front-job

API : Vérification du type de contenu avant de traiter la réponse JSON
  front/src/api.js
Due: lint-front-job

Back-end : fix page contenant un point + meilleure lisibilité
  back/app/__init__.py
Due: lint-back-job

Fix asso sans réseau social
  back/app/api/__init__.py
  back/app/api/assos.py
  back/app/api/socials.py
  front/src/api.js
Due: lint-front-job, lint-back-job

README : Ajout de la section sur l'infrastructure actuelle
  README.md
Due: none

optimise le pipe docker-build
  Dockerfile
  front/package-lock.json
  front/package.json
Due: lint-front-job

Fixes en vrac - fix des url dans l'ics d'une asso - fix redirection routes api non nécessaires - suppression de messages de debug
  back/app/api/campus.py
  back/app/api/emails.py
  back/app/api/sessions.py
  back/app/ics.py
  front/src/views/AssoEditView.vue
  front/src/views/TemplateView.vue
Due: lint-front-job, lint-back-job

Fix images perdues lors d'une erreur d'image
  back/app/api/assos.py
  back/app/api/data.py
  back/app/api/events.py
Due: lint-back-job

Ajout d'un bouton pour ajouter un evenement a son calendrier + ajout conf pour un serveur de developpement
  back/app/__init__.py
  back/app/api/__init__.py
  back/app/ics.py
  front/.env
  front/.env.development
  front/src/api.js
  front/src/components/DownloadButton.vue
  front/src/components/WebCalLink.vue
  front/src/views/AssoView.vue
  front/src/views/EventView.vue
  front/src/views/EventsView.vue
Due: lint-front-job, lint-back-job

SMTP : ajout de la prise en charge du champ "From" + fix HTML des templates
  back/app/api/mail.py
  back/app/api/templates.py
  back/templates/animatsuri.mustache
  back/templates/atilla.mustache
Due: lint-back-job

README: fix de la bannière du README
  README.md
  banner.png
Due: none

Front-end : fix bouton envoi de mail qui n'apparaissait pas toujours
  front/src/views/TemplateView.vue
Due: lint-front-job

CI : Fix comparaison de code SQL
  .gitlab-ci.yml
Due: none

E-mail : envoi à plusieurs destinataires en même temps
  api.md
  back/app/api/mail.py
  back/app/api/templates.py
  front/src/api.js
  front/src/components/ArrayInput.vue
  front/src/views/TemplateView.vue
Due: lint-front-job, lint-back-job

Ajout d'une image docker database pour dev
  .dockerignore
  .gitlab-ci.yml
  README.md
  compose.yaml
  db/Dockerfile
  db/init.sql
  db/mariadb.cnf
  db/sample.sql
  devenv.nix
Due: none
